* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.left-section {
  border-right: 3px solid #00000045;
}

.doctor-id {
  display: block;
  width: 30px !important;
  height: 30px !important;
  line-height: 1.7;
  left: 0px !important;
  top: 1px !important;
}
